.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  ul {
    list-style-type: none;
    margin: 20px;
    padding: 30px;
    padding-left: 0; 
    margin-left:  0;
  }
  

  li {
    display: inline;
    font-size: 30px;
  }

  h1{
    font-size: 40px;
  }